@page
@model colorsRest.App.Pages.DefaultModel
@{
    ViewData["Title"] = "Hola";
}

<div style="font-family: sans-serif; font-size: 1em;">

    <h2>L'Api dels colors</h2>

    <p>Es tracta d'una API que et permet veure i mostrar els colors i el seu equivalent en RGB.</p>

</div>